.login-container-body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
    box-sizing:border-box;
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1rem;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #4a54e1;
}